
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Director</th>
                <th>Action</th>
            </tr>
        </thead>
            <tbody>
                
                  @*  @foreach (var item in Model.Movies)
                    {
                     <tr>
                         <td>@item.id</td>
                        <td>@item.name</td>
                        <td>@item.director</td>
                        
                     </tr>
                     }*@
             </tbody>
</table>
