
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table border="1">
    <tr>
         <td>Id</td>
        <td>Name</td>
        <td>Director</td>
        </tr>
    
  
        @* @foreach(var item in Model.movielist)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Director</td>
            </tr>
        } *@
   

</table>